/* color palette from <https://github.com/vuejs/theme> */
:root {
  --booklink-white: #ffffff;
  --booklink-white-soft: #f8f8f8;
  --booklink-white-mute: #f2f2f2;

  --booklink-black: #181818;
  --booklink-black-soft: #222222;
  --booklink-black-mute: #282828;

  --booklink-green: #00bd7e;

  --booklink-indigo: #2c3e50;

  --booklink-divider-light-1: rgba(60, 60, 60, 0.29);
  --booklink-divider-light-2: rgba(60, 60, 60, 0.12);
  --booklink-divider-dark-1: rgba(84, 84, 84, 0.65);
  --booklink-divider-dark-2: rgba(84, 84, 84, 0.48);

  --booklink-text-light-1: var(--booklink-indigo);
  --booklink-text-light-2: rgba(60, 60, 60, 0.66);
  --booklink-text-dark-1: var(--booklink-white);
  --booklink-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--booklink-green);
  --color-primary-hover: #00a56e;

  --color-secondary: var(--booklink-indigo);
  --color-secondary-hover: #1e2b3c;

  --color-background: var(--booklink-white);
  --color-background-soft: var(--booklink-white-soft);
  --color-background-mute: var(--booklink-white-mute);

  --color-border: var(--booklink-divider-light-2);
  --color-border-hover: var(--booklink-divider-light-1);

  --color-border-primary: var(--booklink-green);

  --color-heading: var(--booklink-text-light-1);
  --color-text: var(--booklink-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--booklink-green);
    --color-primary-hover: #00a56e;

    --color-secondary: var(--booklink-indigo);
    --color-secondary-hover: #1e2b3c;

    --color-background: var(--booklink-black);
    --color-background-soft: var(--booklink-black-soft);
    --color-background-mute: var(--booklink-black-mute);

    --color-border: var(--booklink-divider-dark-2);
    --color-border-hover: var(--booklink-divider-dark-1);

    --color-border-primary: var(--booklink-green);

    --color-heading: var(--booklink-text-dark-1);
    --color-text: var(--booklink-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
